@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap%27');
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 80px 10px 0 10px;
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);
  color: #fff;
  text-align: center;
}
h2 {
  display: block;
  margin: 0 auto;
}
button {
  background: rgb(51, 159, 179);
  width: 219px;
  height: 45px;
  margin-top: 40px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 2px solid #d0d0d0;
  transition: 0.5s all;
  color: #fff;
}
button:hover {
  border: 2px solid rgb(51, 159, 179);
  box-shadow: 0px 0px 35px #fff;
}
ul {
  list-style-type: none;
}
a {
  color: rgb(51, 159, 179);
}

#buttonDel {
  background: rgb(51, 159, 179);
  width: 100px;
  height: 30px;
  margin-top: 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 2px solid #d0d0d0;
  transition: 0.5s all;
  color: #fff;
}
#buttonDel:hover {
  border: 2px solid rgb(51, 159, 179);
  box-shadow: 0px 0px 35px #fff;
}
