{{>style}}
<body>
    <h2>Ваша запись была оформлена на {{patient.data}}!</h2>
    <h2>Учитывая условия пандемии COVID 19,</h2>
    <h2>При себе обязательно иметь маску,бахилы</h2>
    <h2>И по возможности пеленку,перчатки</h2>
    <h2>Или гинекологический набор!</h2>
    <form method="GET" action="/">
        <button>На главную</button>
    </form>
</body>
</html>