{{>style}}
<body>
    <h2>Ваша запись была оформлена на {{patient.data}}!</h2>
    <h2>При себе обязательно иметь:</h2> 
    <h2>1.Пеленку</h2>
    <h2>2.Перчатки</h2>
    <form method="GET" action="/">
        <button>На главную</button>
    </form>
</body>
</html>