{{>style}}
  <body>
    <a href="/register">Регистрация</a>
    <form method="POST" action="/admin/login">
      <label for="login">Логин</label><br>
      <input type="text" name="login" id="login"/><br>
      <label for="password">Пароль</label><br>
      <input type="text" name="password" id="password"/>
      <button>Войти</button>
    </form>
    {{#if unableLogin}}
    <h3>Лучше не делайте этого!</h3>
    {{/if}}
  </body>
</html>