{{>style}}
  <body>
    <a href="/login">Войти</a>
    <form method="POST" action="/admin/signup">
      <label for="login">Логин</label><br>
      <input type="text" name="login" id="login" /><br>
      <label for="password">Пароль</label><br>
      <input type="text" name="password" id="password" />
      <button>Регистрация</button>
    </form>
    {{#if unableLogin}}
    <h3>Неверная попытка регистрации!</h3>
    {{/if}}
  </body>
</html>