{{>style}}
<body>
    <a href="/admin/patients/1">Все пациенты||</a>
    <a href="/admin/find/patient">Поиск по имени||</a>
    <a href="/admin/logout">Выйти</a>
    <h4>Добро пожаловать!</h4>
</body>
</html>