<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evelina Raycheva</title>
    <link rel="apple-touch-icon" sizes="57x57" href="favicon//apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon//apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon//apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon//apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon//apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon//android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon//favicon-16x16.png">
    <link rel="manifest" href="favicon//manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon//ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap%27');
        * { 
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
            margin: 0;
            padding: 0; 
        }
        body {
            width: 1100px;
            margin: 0 auto;
            padding-top: 80px;
            background: linear-gradient(90deg, #29323C 0%, #485563 100%);
            color: #fff;
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        button {
            background: rgb(51, 159, 179);
            width: 219px;
            height: 45px;
            margin-top: 40px;
            text-transform: uppercase;
            cursor: pointer;
            text-align: center;
            font-size: 13px;
            border: 2px solid #d0d0d0;
            transition: 0.5s all; 
            color: #fff;
        }
        button:hover {
                border: 2px solid $main-color;
                box-shadow: 0px 0px 35px #fff;
            }
        ul{
            list-style-type: none;
        }
    </style>
</head>